
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Toute la FAQ</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let faq of faqs">
    <ion-card-header>
      <strong icon-left><ion-icon name="help-circle"></ion-icon>{{faq.q}}</strong>
    </ion-card-header>
  <ion-card-content>
    {{ (faq.a.length>35)? (faq.a | slice:0:35)+'...':(faq.a) }}
    <!--
    <ion-list *ngIf="faqs">
        <ion-item icon-left *ngFor="let faq of faqs"><ion-icon name="help-circle"></ion-icon>{{faq.q}} et ici</ion-item>
    </ion-list-->
    <!--p *ngFor="let faq of faqs;">{{faq.q}} et ici</p-->
  </ion-card-content>
</ion-card>

</ion-content>
